html {
  box-sizing: border-box;
  background-color: #fff
}

header {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: lighter;
  margin: 30px;
  background-color: #fff;
  position: relative;
  margin-top: 0px;
}

h1 {
  font-size: 2em;
  position: relative;
  color: #213402;
  padding-top: 15px;
}

h2{
  font-size: 2.7em;
  line-height: 300%;
}

h3 {
  font-size: 1.4em;
  position: relative;
}

h4 {
  font-size: 1.1em;
  position:relative;
}

h4:hover {
  font-size: 1.2em;
  font-size-adjust: 0.8em;
  transition: 0.4s;
}

#subtitle {
  color: #787878;
}

.header-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  background-size: cover;
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 52.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 93%;
  padding: 34px;
  text-align: center;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.8;
}

  div {
  background-color: #fff;
}

  main {
  background-color: #fff;
  font-size: 18px;
  flex-grow: 1;
}

article{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 30px;
}

section{
  background-color: #fff;
  margin-left: 150px;
  margin-right: 150px;
}

  @media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.content {
  font-size: 16px;
}

  footer{
  background-color: #fff;
  padding-left: 10px;
  padding-top: 30px;
}

  .images {
  }

  nav {
  height: 60px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  background: #fff;
  position: relative;
  float: right;
  padding-right: 34px;
  font-size: 1em;
}

ul{
  list-style-type: none;
  position:relative;
}

#checklist li:before {
  content: "\2713"
}

#dotlist li:before {
  content: bullet;
}

#navbar li {
    float: right;
}

#navbar a:hover {
  font-size: 1.2em;
  font-size-adjust: 1em;
  transition: 0.4s;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  background-color: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
}


#contact-photo {
  float:right;
  margin: 30px;
  min-width: 150px;
  max-width: 150px;
}

.grid {
  max-width: 1000px;
  display: grid;
  grid-auto-flow: column;
  gap:4px;
  align-items: stretch;
  justify-content: center;
}

.grid-item {
  min-width: 300px;
  max-width: 300px;
  padding-left: .25rem;
  padding-right: .25rem;
}


.wrapper {
  height: 100vh;
  padding: 15px;
  background: #fff;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
}

.grid-item figure {
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
}

.grid-item figure img {
  display: block;
  max-width: 100%;
}
.grid-item figcaption {
  display: block;
  padding: .625rem .5rem;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 18px;
  background: #fff;
}

.container:hover {
  opacity: 0.5;
  transition: 0.6s;
}

.regular-list {
  align: left;
}

#frPDF {
  width: 100%;
  height: 100%;
}

.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 14px 40px;
  border-radius: 12px solid black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
 color: white;
}
